/* BOARD */

.board {
  display: grid;
  grid-template-columns: repeat(10, 30px);
  grid-template-rows: repeat(20, 30px);
  gap: 1px;
  background: #111;
  padding: 5px;
  width: fit-content;
  margin: 20px auto;
}

.cell {
  width: 30px;
  height: 30px;
  background: #000;
}

.cell-empty {
  background: #1a1a1a;
}

.cell-I { background: #00ffff; }
.cell-O { background: #ffff00; }
.cell-T { background: #800080; }
.cell-S { background: #00ff00; }
.cell-Z { background: #ff0000; }
.cell-J { background: #0000ff; }
.cell-L { background: #ffa500; }

/* CELL GHOST */

.cell-ghost {
  background: rgba(255, 105, 180, 0.2);
  border: 1px dashed rgba(255, 105, 180, 0.3);
}

/* GARBAGE LINE */
.cell-G {
  background: #5a5a5a;
  border: 1px solid #3a3a3a;

  background-image: 
    radial-gradient(circle at 2px 2px, #777 2px, transparent 3px),
    radial-gradient(circle at 12px 8px, #666 3px, transparent 5px),
    radial-gradient(circle at 22px 5px, #606060 2px, transparent 3px),
    linear-gradient(135deg, #5c5c5c 25%, #505050 25%, #505050 50%, #5c5c5c 50%, #5c5c5c 75%, #505050 75%, #505050);
  background-size:
    24px 24px,
    24px 24px,
    24px 24px,
    12px 12px;

  box-shadow:
    inset 0 0 6px #0008,
    0 0 8px rgba(50, 50, 50, 0.6);

  filter: contrast(1.1) brightness(0.9);
}
